/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    padding: 0%;
    margin: 0%;
}

/*Mobile View*/
@media screen and (max-width: 720px) {
    .navigation-bar {
        display: flex;
        align-items: center;
        position: fixed;
        background-color: #99582a;
        width: 100vw;
        height: 50px;
        z-index: 999;
        padding: 0;
    }

    .navigation {
        width: 0px;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #99582a;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .navigation > a {
        display: block;
        width: 70vw;
        color: #ffe6a7;
        text-decoration: none;
        padding: 16px 8px 16px 8px;
        font: 600 1rem "Crimson Text", serif;
        transition: 0.3s;
    }

    .navigation > a:hover {
        color: #ffedd8;
        background-color: #432818;
    }

    .navigation > .close-button {
        position: absolute;
        top: 0;
        left: 125px;
        font-size: 36px;
        margin: 0 75px;
        padding: 3px 20px;
        border-radius: 999px;
    }

    .open-button {
        position: relative;
        right: 0px;
        font-size: 20px;
        cursor: pointer;
        background-color: #99582a;
        color: #ffe6a7;
        padding: 8px 15px;
        margin: 0;
        border: none;
        transition: 0.3s;
    }
    
    .open-button:hover {
      background-color: #432818;
    }
    
    #logo-button {
        position: relative;
        left: 3px;
        width: 40px;
        height: 40px;
        background-color: #ffe6a7;
        border-radius: 50%;
        border: 2px solid #432818;
    }

    .menu-container {
        display: flex;
        position: absolute;
        right: 0;
        width: auto;
        height: 50px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    #shopping-cart {
        color: #ffe6a7;
        margin: 0 10px;
        transition: 0.3s;
    }

    #shopping-cart:hover {
        color: #432818;
    }

    #signIn-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signIn-button:hover {
        background-color: #432818;
        color: #ffe6a7;
    }

    #signUp-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signUp-button:hover {
        background-color: #432818;
        color: #ffe6a7;
    }
    
    #user-profile {
        display: none;
        position: absolute;
        top: 3px;
        right: 55px;
        width: 40px;
        height: 40px;
        border: 2px solid #ffe6a7;
        border-radius: 50%;
        transition: 0.3s;
    }

    #user-profile:hover {
        border: 2px solid #432818;
    }
    
    .page-section {
        display: flex;
        background-color: #ffe6a7;
        width: 100vw;
        height: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
    }

    /*Top Section*/
    #top {
        background: url(assets/images/cafe_bg.webp) no-repeat center;
        background-size: auto 100vh;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height:300px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.8px);
        border: 1px solid rgba(255, 255, 255, 0.48);
        position: relative;
        top: 25px;
        margin: 10px;
    }

    #home-logo {
        width: 40%;
        height: 30%;
        object-fit: cover;
    }

    .title {
        font: 2.5rem "Pacifico", Cursive;
        margin: 0;
        padding: 0;
        position: relative;
        top: -20px;
        text-decoration: underline;
    }

    .subtitle {
        font: 600 1.25rem "Playfair Display", sans-serif;
        margin: 0;
        padding: 0;
        position: relative;
        top: -30px;
    }

    .shop-button {
        width: 175px;
        height: 50px;
        border-radius: 50px;
        color: #f2f4f3;
        background-color: #0a0908;
        font: 600 0.9rem "Crimson Text", serif;
        padding: 10px;
        position: relative;
        top: -15px;
        transition: 0.3s;
    }

    .shop-button:hover {
        cursor: pointer;
        background-color: #f2f4f3;
        color: #0a0908;
    }

    /*Products Section*/
    #products {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }
    
    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        margin: 10px 0;
    }

    .section-title {
        font: bold 2rem "Crimson Text", serif;
        margin: 0;
        color: #432818;
    }
    
    .description {
        font: 600 1rem "Crimson Text", serif;
        color: #432818;
        padding: 5px 0;
        margin: 0;
        text-align: center;
    }

    .product-container {
        display: flex;
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .product-card {
        display: inline-block;
        width: 30vw;
        height: 45vw;
        background-color: #f2f4f3;
        color: #432818;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin: 0 1vw;
    }
    
    .product-image {
        width: 25vw;
        height: 25vw;
        border: 2px solid #432818;
        border-radius: 10px;
        margin: 7px 0 0 0;
    }

    .product-name  {
        font: bold 6vw"Crimson Text", serif;
        padding: 0;
    }

    /*Reviews Section*/
    #reviews {
        position: relative;
        z-index: -1;
        background-color: lightgray;
        height: auto;
    }

    .review-content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .reviews-container {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    .review-card {
        width: 250px;
        height: 300px;
        background-color: #f2f4f3;
        border: 2px solid #432818;
        border-radius: 10px;
        color: #432818;
        text-align: justify;
        padding: 2px 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .customer-name {
        font: bold 1.5rem "Crimson Text", serif;
        color: #432818;
        word-spacing: 5px;
        padding: 10px 0 0 0;
        margin: 0;
    }

    .rating {
        color: #FFD43B;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 1rem;
    }

    .review-title {
        font: bold 1rem "Crimson Text", serif;
        color: #432818;
        padding: 0;
        margin: 0;
    }

    .review {
        font: 0.9rem "Crimson Text", serif;
        color: #432818;
        padding: 0 10px;
    }

    /*Footer*/
    footer {
        display: flex;
        background-color: #99582a;
        width: 100vw;
        height: 175px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo-group {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #logo-footer {
        width: 75px;
        height: 60px;
        object-fit: cover;
    }

    .footer-cafe-title {
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
        left: -7px;
        font: 1.3rem "Pacifico", Cursive;
    }

    .more-info {
        font: 600 13px "Crimson Text", serif;
        text-align: center;
        color: #ddb892;
        margin: 0;
        padding: 0;
    }

    .info {
        padding: 0;
        margin: 0;
    }

    .social-media-links {
        padding: 10px 10px 0;
    }

    .social-media-links > a {
        color: #ddb892;
        padding: 0 10px;
        font-size: 1.25rem;
    }

    .copyright {
        color: #ddb892;
        font: 12px "Crimson Text", serif;
    }
}

/*Desktop View*/
@media screen and (min-width: 721px) {
    .navigation-bar {
        display: flex;
        align-items: center;
        position: fixed;
        background-color: #99582a;
        width: 100vw;
        height: 50px;
        z-index: 999;
        padding: 0;
    }

    .navigation {
        width: 0px;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #99582a;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .navigation > a {
        display: block;
        width: 70vw;
        color: #ffe6a7;
        text-decoration: none;
        padding: 16px 8px 16px 8px;
        font: 600 1rem "Crimson Text", serif;
        transition: 0.3s;
    }

    .navigation > a:hover {
        color: #ffedd8;
        background-color: #432818;
    }

    .navigation > .close-button {
        position: absolute;
        top: 0;
        left: 125px;
        font-size: 36px;
        margin: 0 75px;
        padding: 3px 20px;
        border-radius: 999px;
    }

    .open-button {
        position: relative;
        right: 0px;
        font-size: 20px;
        cursor: pointer;
        background-color: #99582a;
        color: #ffe6a7;
        padding: 8px 15px;
        margin: 0;
        border: none;
        transition: 0.3s;
    }
    
    .open-button:hover {
      background-color: #432818;
    }
    
    #logo-button {
        position: relative;
        left: 3px;
        width: 40px;
        height: 40px;
        background-color: #ffe6a7;
        border-radius: 50%;
        border: 2px solid #432818;
    }

    .menu-container {
        display: flex;
        position: absolute;
        right: 0;
        width: auto;
        height: 50px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    #shopping-cart {
        color: #ffe6a7;
        margin: 0;
        transition: 0.3s;
        margin: 0 10px;
    }

    #shopping-cart:hover {
        color: #432818;
    }

    #signIn-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signIn-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    #signUp-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signUp-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }
    
    #user-profile {
        display: none;
        position: absolute;
        top: 3px;
        right: 55px;
        width: 40px;
        height: 40px;
        border: 2px solid #ffe6a7;
        border-radius: 50%;
        transition: 0.3s;
    }

    #user-profile:hover {
        cursor: pointer;
        border: 2px solid #432818;
    }
    
    .page-section {
        display: flex;
        background-color: #ffe6a7;
        width: 100vw;
        height: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
    }

    /*Top Section*/
    #top {
        background: url(assets/images/cafe_bg.webp) no-repeat center;
        background-size: 100% auto;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;
        height:400px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.8px);
        border: 1px solid rgba(255, 255, 255, 0.48);
        position: relative;
        top: 25px;
        margin: 20px;
    }

    #home-logo {
        width: 40%;
        height: 40%;
        object-fit: cover;
        margin: 0;
    }

    .title {
        font: 4rem "Pacifico", Cursive;
        margin: 0;
        padding: 0;
        position: relative;
        top: -50px;
        text-decoration: underline;
    }

    .subtitle {
        font: 600 1.5rem "Playfair Display", sans-serif;
        margin: 0;
        padding: 0;
        position: relative;
        top: -60px;
    }

    .shop-button {
        width: 175px;
        height: 50px;
        border-radius: 50px;
        color: #f2f4f3;
        background-color: #0a0908;
        font: 600 1rem "Crimson Text", serif;
        padding: 10px;
        position: relative;
        top: -40px;
        transition: 0.3s;
    }

    .shop-button:hover {
        cursor: pointer;
        background-color: #f2f4f3;
        color: #0a0908;
    }

    /*Products Section*/
    #products {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    }
    
    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;
        margin: 10px 0;
    }

    .section-title {
        font: bold 3rem "Crimson Text", serif;
        margin: 0;
        color: #432818;
    }
    
    .description {
        font: 600 1.25rem "Crimson Text", serif;
        color: #432818;
        padding: 5px 20vw;
        margin: 0;
        text-align: center;
    }

    .product-container {
        display: flex;
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .product-card {
        display: inline-block;
        width: 40vh;
        height: 55vh;
        background-color: #f2f4f3;
        color: #432818;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        margin: 0 1vw;
    }
    
    .product-image {
        width: 35vh;
        height: 35vh;
        border: 2px solid #432818;
        border-radius: 10px;
        margin: 7px 0 0 0;
    }

    .product-name  {
        font: bold 2rem"Crimson Text", serif;
        padding: 0;
    }

    /*Reviews Section*/
    #reviews {
        position: relative;
        z-index: -1;
        background-color: lightgray;
        height: auto;
    }

    .review-content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .reviews-container {
        display: flex;
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }

    .review-card {
        width: 50vh;
        height: 60vh;
        background-color: #f2f4f3;
        border: 2px solid #432818;
        border-radius: 10px;
        color: #432818;
        padding: 2px 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .customer-name {
        font: bold 1.75rem "Crimson Text", serif;
        color: #432818;
        word-spacing: 5px;
        padding: 10px 0 0 0;
        margin: 0;
    }

    .rating {
        color: #FFD43B;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 1rem;
    }

    .review-title {
        font: bold 1.25rem "Crimson Text", serif;
        color: #432818;
        padding: 0;
        margin: 0;
    }

    .review {
        font: 1rem "Crimson Text", serif;
        color: #432818;
        padding: 0 10px;
        text-align: justify;
    }

    /*Footer*/
    footer {
        display: flex;
        background-color: #99582a;
        width: 100vw;
        height: 175px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo-group {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #logo-footer {
        width: 75px;
        height: 60px;
        object-fit: cover;
    }

    .footer-cafe-title {
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
        left: -7px;
        font: 1.3rem "Pacifico", Cursive;
    }

    .more-info {
        font: 600 13px "Crimson Text", serif;
        text-align: center;
        color: #ddb892;
        margin: 0;
        padding: 0;
    }

    .info {
        padding: 0;
        margin: 0;
    }

    .social-media-links {
        padding: 10px 10px 0;
    }

    .social-media-links > a {
        color: #ddb892;
        padding: 0 10px;
        font-size: 1.25rem;
    }

    .copyright {
        color: #ddb892;
        font: 12px "Crimson Text", serif;
    }
}