/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    padding: 0%;
    margin: 0%;
}

/*Mobile View*/
@media screen and (max-width: 720px) {
    .navigation-bar {
        display: flex;
        align-items: center;
        position: fixed;
        background-color: #99582a;
        width: 100vw;
        height: 50px;
        z-index: 999;
        padding: 0;
    }

    .navigation {
        width: 0px;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #99582a;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .navigation > a {
        display: block;
        width: 70vw;
        color: #ffe6a7;
        text-decoration: none;
        padding: 16px 8px 16px 8px;
        font: 600 1rem "Crimson Text", serif;
        transition: 0.3s;
    }

    .navigation > a:hover {
        color: #ffedd8;
        background-color: #432818;
    }

    .navigation > .close-button {
        position: absolute;
        top: 0;
        left: 125px;
        font-size: 36px;
        margin: 0 75px;
        padding: 3px 20px;
        border-radius: 999px;
    }

    .open-button {
        position: relative;
        right: 0px;
        font-size: 20px;
        cursor: pointer;
        background-color: #99582a;
        color: #ffe6a7;
        padding: 8px 15px;
        margin: 0;
        border: none;
        transition: 0.3s;
    }
    
    .open-button:hover {
      background-color: #432818;
    }
    
    #logo-button {
        position: relative;
        left: 3px;
        width: 40px;
        height: 40px;
        background-color: #ddb892;
        border-radius: 50%;
    }

    .menu-container {
        display: flex;
        position: absolute;
        right: 0;
        width: auto;
        height: 50px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    #shopping-cart {
        color: #ffe6a7;
        margin: 0 10px;
        transition: 0.3s;
    }

    #shopping-cart:hover {
        color: #432818;
    }

    #signIn-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signIn-button:hover {
        background-color: #432818;
        color: #ffe6a7;
    }

    #signUp-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signUp-button:hover {
        background-color: #432818;
        color: #ffe6a7;
    }
    
    #user-profile {
        display: none;
        position: absolute;
        top: 3px;
        right: 55px;
        width: 40px;
        height: 40px;
        border: 2px solid #ffe6a7;
        border-radius: 50%;
        transition: 0.3s;
    }

    #user-profile:hover {
        border: 2px solid #432818;
    }
    
    .page-section {
        display: flex;
        background-color: #ffe6a7;
        width: 100vw;
        height: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Cart*/
    h1 {
        margin: 50px 0 0 0;
        padding: 0;
        font: bold 1.75rem "Crimson Text", serif;
        color: #432818;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: auto;
        padding: 5px 2px;
        margin: 10px 0;
        border: 2px solid #432818;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .product {
        display: flex;
        width: 350px;
        height: 100px;
        margin: 20px 0;
        color: #432818;
    }

    .product-image {
        width: 100px;
        border: 2px solid #432818;
        border-radius: 10px;
        position: relative;
    }

    .product-info {
        padding: 0;
        margin: 0 5px;
    }

    .product-name {
        margin: 5px 0;
        padding: 0;
    }

    .price {
        margin: 10px 0;
        padding: 0;
        font: bold 1rem "Crimson Text", serif;
        text-decoration: underline;
    }

    .quantity-selector {
        display: flex;
        width: 100px;
        height: 20px;
        grid-row: 2;
        grid-column: 2;
    }

    .quantity-field {
        width: 30px;
        height: 15px;
    }

    .minus, .plus {
        width: 20px;
        padding: 0;
        background-color: #99582a;
        color: #ffe6a7;
        font-weight: bold;
    }

    .minus:hover, .plus:hover {
        cursor: pointer;
        background-color: #ffe6a7;
        color: #432818;
        font-weight: bold;
    }

    .open-extras {
        width: 100px;
        height: 30px;
        background: none;
        border: none;
        border-radius: 50px;
        font: 600 1rem "Crimson Text", serif;
        margin: auto;
    }

    .open-extras:hover {
        cursor: pointer;
        border: 2px solid #432818;
    }

    .extras {
        display: none;
        width: 300px;
        height: 200px;
        position: fixed;
        z-index: 999;
        background-color: #ffe6a7;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        border: 2px solid #432818;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .extras > h1 {
        margin: 0;
        padding: 0;
        position: relative;
        top: -5px;
        font-size: 1.5rem;
    }
    
    .extras > div > label {
        font: 600 1rem "Crimson Text", serif;
        padding: 0 10px;
        text-align: right;
    }
    
    .shot-selector {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
    }

    .shot-count {
        width: 50px;
        height: 20px;
        text-align: center;
    }

    .sugar-selector {
        display: flex;
        width: 175px;
    }

    .sugar-level{
        width: 50px;
        height: 20px;
    }

    .confirm-extras {
        width: 100px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #99582a;
        color: #ffe6a7;
        font: bold 1rem "Crimson Text", serif;
    }

    .cancel-extras {
        width: 100px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ddb892;
        color: #432818;
        font: bold 1rem "Crimson Text", serif;
    }

    .confirm-extras:hover, .cancel-extras:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    .remove-button {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        text-align: center;
        background: none;
        border: none;
    }

    .remove-button:hover {
        cursor: pointer;
    }

    .checkout-button {
        width: 150px;
        height: 30px;
        font: 600 1rem "Crimson Text", serif;
        color: #ffe6a7;
        background-color: #99582a;
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        margin: 5px;
        transition: 0.3s;
    }

    .continue-button {
        width: 150px;
        height: 30px;
        font: 600 1rem "Crimson Text", serif;
        color: #432818;
        background-color: #ddb892;
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        margin: 5px;
        transition: 0.3s;
    }

    .checkout-button:hover {
        cursor: pointer;
        background-color: #ffe6a7;
        color: #432818;
    } 

    .continue-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    /*Footer*/
    footer {
        display: flex;
        background-color: #99582a;
        width: 100vw;
        height: 175px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo-group {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #logo-footer {
        width: 75px;
        height: 60px;
        object-fit: cover;
    }

    .footer-cafe-title {
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
        left: -7px;
        font: 1.3rem "Pacifico", Cursive;
    }

    .more-info {
        font: 600 13px "Crimson Text", serif;
        text-align: center;
        color: #ddb892;
        margin: 0;
        padding: 0;
    }

    .info {
        padding: 0;
        margin: 0;
    }

    .social-media-links {
        padding: 10px 10px 0;
    }

    .social-media-links > a {
        color: #ddb892;
        padding: 0 10px;
        font-size: 1.25rem;
    }

    .copyright {
        color: #ddb892;
        font: 12px "Crimson Text", serif;
    }
}

/*Desktop View*/
@media screen and (min-width: 721px) {
    .navigation-bar {
        display: flex;
        align-items: center;
        position: fixed;
        background-color: #99582a;
        width: 100vw;
        height: 50px;
        z-index: 999;
        padding: 0;
    }

    .navigation {
        width: 0px;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #99582a;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }

    .navigation > a {
        display: block;
        width: 70vw;
        color: #ffe6a7;
        text-decoration: none;
        padding: 16px 8px 16px 8px;
        font: 600 1rem "Crimson Text", serif;
        transition: 0.3s;
    }

    .navigation > a:hover {
        color: #ffedd8;
        background-color: #432818;
    }

    .navigation > .close-button {
        position: absolute;
        top: 0;
        left: 125px;
        font-size: 36px;
        margin: 0 75px;
        padding: 3px 20px;
        border-radius: 999px;
    }

    .open-button {
        position: relative;
        right: 0px;
        font-size: 20px;
        cursor: pointer;
        background-color: #99582a;
        color: #ffe6a7;
        padding: 8px 15px;
        margin: 0;
        border: none;
        transition: 0.3s;
      }
      
      .open-button:hover {
        background-color: #432818;
      }
    
    #logo-button {
        position: relative;
        left: 3px;
        width: 40px;
        height: 40px;
        background-color: #ddb892;
        border-radius: 50%;
    }

    .menu-container {
        display: flex;
        position: absolute;
        right: 0;
        width: auto;
        height: 50px;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    #shopping-cart {
        color: #ffe6a7;
        margin: 0;
        transition: 0.3s;
        margin: 0 10px;
    }

    #shopping-cart:hover {
        color: #432818;
    }

    #signIn-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signIn-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    #signUp-button {
        width: 90px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ffe6a7;
        color: #432818;
        font: bold 0.8rem "Crimson Text", serif;
        transition: 0.3s;
    }

    #signUp-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }
    
    #user-profile {
        display: none;
        position: absolute;
        top: 3px;
        right: 55px;
        width: 40px;
        height: 40px;
        border: 2px solid #ffe6a7;
        border-radius: 50%;
        transition: 0.3s;
    }

    #user-profile:hover {
        cursor: pointer;
        border: 2px solid #432818;
    }
    
    .page-section {
        display: flex;
        background-color: #ffe6a7;
        width: 100vw;
        height: auto;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Cart*/
    h1 {
        margin: 50px 0 0 0;
        padding: 0;
        font: bold 1.75rem "Crimson Text", serif;
        color: #432818;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 700px;
        height: auto;
        padding: 5px 2px;
        margin: 10px 0;
        border: 2px solid #432818;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .product {
        display: flex;
        width: 680px;
        height: 100px;
        margin: 20px 0;
        color: #432818;
    }

    .product-image {
        width: 100px;
        border: 2px solid #432818;
        border-radius: 10px;
        position: relative;
    }

    .product-info {
        padding: 0;
        margin: 0 5px;
    }

    .product-name {
        margin: 5px 0;
        padding: 0;
    }

    .price {
        margin: 10px 0;
        padding: 0;
        font: bold 1rem "Crimson Text", serif;
        text-decoration: underline;
    }

    .quantity-selector {
        display: flex;
        width: 100px;
        height: 20px;
        grid-row: 2;
        grid-column: 2;
    }

    .quantity-field {
        width: 30px;
        height: 15px;
    }

    .minus, .plus {
        width: 20px;
        padding: 0;
        background-color: #99582a;
        color: #ffe6a7;
        font-weight: bold;
    }

    .minus:hover, .plus:hover {
        cursor: pointer;
        background-color: #ffe6a7;
        color: #432818;
        font-weight: bold;
    }

    .open-extras {
        width: 100px;
        height: 30px;
        background-color: #99582a;
        border: 2px solid #432818;
        border-radius: 50px;
        font: 600 1rem "Crimson Text", serif;
        margin: auto 20px auto auto;
        color: #ffe6a7;
        transition: 0.3s;
    }

    .open-extras:hover {
        cursor: pointer;
        background-color: #ffe6a7;
        color: #432818;
    }

    .extras {
        display: none;
        width: 400px;
        height: 300px;
        position: fixed;
        z-index: 999;
        background-color: #ffe6a7;
        overflow: hidden;
        transition: 0.5s;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        border: 2px solid #432818;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .extras > h1 {
        margin: 0;
        padding: 0;
        position: relative;
        top: -30px;
        font-size: 1.5rem;
    }
    
    .extras > div > label {
        font: 600 1rem "Crimson Text", serif;
        padding: 0 10px;
        text-align: right;
    }
    
    .shot-selector {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
    }

    .shot-count {
        width: 50px;
        height: 20px;
        text-align: center;
    }

    .sugar-selector {
        display: flex;
        width: 175px;
    }

    .sugar-level{
        width: 50px;
        height: 20px;
    }

    .confirm-extras {
        width: 100px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #99582a;
        color: #ffe6a7;
        font: bold 1rem "Crimson Text", serif;
        margin-top: 30px;
    }

    .cancel-extras {
        width: 100px;
        height: 30px;
        border-radius: 50px;
        border: 2px solid #432818;
        background-color: #ddb892;
        color: #432818;
        font: bold 1rem "Crimson Text", serif;
    }

    .confirm-extras:hover, .cancel-extras:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    .remove-button {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        text-align: center;
        background: none;
        border: none;
    }

    .remove-button:hover {
        cursor: pointer;
    }

    .checkout-button {
        width: 150px;
        height: 30px;
        font: 600 1rem "Crimson Text", serif;
        color: #ffe6a7;
        background-color: #99582a;
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        margin: 5px;
        transition: 0.3s;
    }

    .continue-button {
        width: 150px;
        height: 30px;
        font: 600 1rem "Crimson Text", serif;
        color: #432818;
        background-color: #ddb892;
        border-radius: 50px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        margin: 5px;
        transition: 0.3s;
    }

    .checkout-button:hover {
        cursor: pointer;
        background-color: #ffe6a7;
        color: #432818;
    } 

    .continue-button:hover {
        cursor: pointer;
        background-color: #432818;
        color: #ffe6a7;
    }

    /*Footer*/
    footer {
        display: flex;
        background-color: #99582a;
        width: 100vw;
        height: 175px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .logo-group {
        display: flex;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    #logo-footer {
        width: 75px;
        height: 60px;
        object-fit: cover;
    }

    .footer-cafe-title {
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
        left: -7px;
        font: 1.3rem "Pacifico", Cursive;
    }

    .more-info {
        font: 600 13px "Crimson Text", serif;
        text-align: center;
        color: #ddb892;
        margin: 0;
        padding: 0;
    }

    .info {
        padding: 0;
        margin: 0;
    }

    .social-media-links {
        padding: 10px 10px 0;
    }

    .social-media-links > a {
        color: #ddb892;
        padding: 0 10px;
        font-size: 1.25rem;
    }

    .copyright {
        color: #ddb892;
        font: 12px "Crimson Text", serif;
    }
}